e<h1>Welcome to Timetracking tool</h1>

<ul>
	<% @projects.each do |project| %>
		<li>
			<%="#{project.id}: " %>
			<%= if @project.description.present? %>
			<%= "{project.name} - #{project.description}" %> </li>
		<% else %>
			<%= "{project.name}" %>
		<% end %>
		<%= link_to("Delete", "/projects/#{project.id}", method: :delete) %>
	</li>
	<% end %>
</ul>

<h3>Projects</h3>